* {
            box-sizing: border-box;
        }
        
        body {
            font-family: Garamond, "Times New Roman", serif;
        }
        
        nav {
            background-color: #FBC244;
            color: #2C899B;
            font-size: 1.1em;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #B11100;
            font-family: "Gill Sans MT", Helvetica, sans-serif;
            margin-top: 20px;
            margin-bottom: 8px;
        }
        
        p {
            margin-top: 0px;
            line-height: 1.2em;
        }
        
        .fast-and-fun {
            color: #FBC244;
        }
        
        #content {
            width: 90%;
            max-width: 960px;
            margin: 0 auto;
        }
        
        img {
            max-width: 100%
        }
        
        section {
            padding: 15px;
        }
        
        #top-section,
        #middle-section {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
        }
        
        #middle-section {
            background-color: #2C899B;
        }
        
        #bottom-section {
            text-align: center;
            margin: 0 auto;
            max-width: 600px
        }
        
        .rightcol,
        .leftcol {
            width: 48%;
            flex: 1 0 15em;
            margin: .5em;
        }
        
        .fullwidth {
            width: 100%;
        }
        
        footer {
            height: 55px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #2C899B;
        }
        
        .link_img img {
            width: 50px;
            margin: auto 0;
        }
        
        #footer_text {
            line-height: 1em;
            margin: auto 0;
        }