@import url('https://fonts.googleapis.com/css?family=Sansita');

* {
    box-sizing: border-box;
    /* changes width property
    to total width instead of content width */
}

*:before,
*:after {
    box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block;
    /* just in case we have
    any older browsers that don't recognize
    the HTML5 semantic elements */
}

h1,
h2,
h3,
h4,
h5,
h6,
.site-name {
    font-family: 'Sansita', sans-serif;
}

h1,
h2 {
    text-align: center;
    color: #0E89D5;
    margin: 0;
}

body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    /* remove any margin from body */
    padding: 0;
    /* ditto for padding */
    font-size: 20px;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-image: url("../weather/images/sunny-winter.jpg");
    background-size: cover;
    padding: .01em 0 .01em 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav ul li {
    line-height: 3em;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: .8em;
    background-color: #0E89D5;
}

nav a {
    text-decoration: none;
    color: #FFF;
}

nav a:visited {
    color: #D8F;
}

nav a:active {
    text-decoration: underline;
    cursor: auto;
}

nav a:hover {
    color: #0E89D5;
}

#page-header {
    display: flex;
    align-items: center;
    background-color: #0E89D5;

}

.site-name {
    padding-left: .5em;
    font-size: 1.5em;
    font-weight: 600;
    color: #FFF;
    font-style: italic;
}

.overview,
.cur_conditions,
.hourly {
    background-color: rgba(200, 200, 200, .6);
    margin: .5em;
    border: 1px solid;
    border-radius: 15px;
    padding: 1em;
}

footer {
    padding: 1em 0 4em 1em;
    background-color: #0E89D5;
}

ul {
    list-style: none;
    padding: 0;
}

.li-lining {
    display: inline;
}

h1 {
    font-size: 2.5em;
    margin: .2em 0;
}

.logo {
    width: 80px;
}

#currentTemp {
    font-size: 3em;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.invisible {
    display: none;
}

@media screen and (min-width: 500px) {
    .invisible {
        display: inline-block;
    }

    .visible {
        display: none;
    }

    nav {
        position: initial;
        line-height: .5em;
        font-size: 1em;
    }

    main {
        flex-flow: row wrap;
        align-items: stretch;
        background-image: url("../weather/images/plan-images/raindrops.jpg");
    }

    .city {
        align-self: flex-start;
        text-align: left;
        padding-left: 1em;
        flex: 0 0 100%;
        order: 1;
    }

    .overview {
        order: 3;
    }
    .cur_conditions {
        order: 2;
    }
    .hourly {
        order: 4;
    }

    footer {
        padding-bottom: 1em;
    }

    .overflow_fix {
        height: 200px;
        overflow: auto;
        width: 220px;
        display: flex;
        flex-flow: column wrap;
        align-content: space-around;
    }

    .left {
        text-align: right;
    }

    .site-name {
        font-size: 2.5em;
    }

    #temperature {
        margin: .5em 0 0 0;
    }

    .overview,
    .cur_conditions,
    .hourly {
        margin: .5em 1em;
    }
}
