* {
    box-sizing: border-box;
    max-width: 100%;
}

body {
    font-family: Garamond, "Times New Roman", serif;
}

nav {
    background-color: #FBC244;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 3em;
    margin-top: -80px;
    padding-left: 110px;
}

nav ul { 
    margin: 0;
}

nav li {
    display: inline-block;
}

#logo {
    background-color: #FFFFFF;
    position: relative;
    width: 110px;
    border: solid;
    margin-left: 20px;
    border-color: #2C899B;
}

nav a {
    padding: 1em .5em;
}

#active {
    background-color: #2C899B;
    color: #FBC244;
}

a:link {
    color: #2C899B;
}

a:visited {
    color: #2C899B;
}

a:hover {
    background-color: #B11100;
    color: #2C899B;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #B11100;
    font-family: "Gill Sans MT", Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 8px;
}

p {
    margin-top: 0px;
    line-height: 1.2em;
}

.fast-and-fun {
    color: #FBC244;
}

#content {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

img {
    max-width: 100%
}

section {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#top-section,
#middle-section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#middle-section {
    background-color: #2C899B;
}

#bottom-section {
    text-align: center;
    margin: 0 auto;
    max-width: 600px
}

.rightcol,
.leftcol {
    width: 48%;
    flex: 1 0 15em;
    margin: .5em;
}

.fullwidth {
    width: 100%;
}

footer {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBC244;
    clear: both;
}

.link_img img {
    width: 50px;
    margin: auto 0;
    padding-top: 5px;
}

#footer_text {
    line-height: 1em;
    margin: auto 0;
    padding-left: 1em;
}

.small_image {
    float: left;
    padding: 1em;
    width: 300px;
}

h3 {
    line-height: 2em;
}

.blogpost_section {
    background-color: gainsboro
}

#centered {
    text-align: center;
    margin: 0 auto;
}